<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>browse jobs</title>

    <!-- Bootstrap -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <link href="/stylesheets/test2.css" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" >Brand</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="text-align: center">
            <p>Step 1 of 3</p>
            <h3>Create your profile</h3>
            <p>things you need to fill out</p>
            <button class="btn btn-primary center-block">add to profile</button></br>
            <div class="row" style="text-align: left">
                <div class="col-md-8 col-md-offset-2">
                    <form>
                        <div class="form-group">
                            <label for="First Name">First Name</label>
                            <input type="email" class="form-control form-control-sm" id="First Name" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="Last Name">Last Name</label>
                            <input type="email" class="form-control form-control-sm" id="Last Name" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="Current Location">Current Location</label>
                            <input type="email" class="form-control form-control-sm" id="Current Location" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="Phone">Phone</label>
                            <input type="email" class="form-control form-control-sm" id="Phone" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="Current Title">Current Title</label>
                            <input type="email" class="form-control form-control-sm" id="Current Title" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-sm" id="Work" placeholder="Email">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>What do you want to make visible on your profile?</p>
                                <div class="pull-right">
                                    <div><input type="checkbox" checked data-toggle="toggle" data-size="mini" data-onstyle="danger" data-style="ios" data-on=" " data-off=" "></div>
                                    <div><input type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="danger" data-style="ios" data-on=" " data-off=" "></div>
                                    <div></span><input type="checkbox" checked data-toggle="toggle" data-size="mini" data-onstyle="danger" data-style="ios" data-on=" " data-off=" "></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>Would you like to make receive notifications by:</p>
                                <div class="pull-right">
                                    <div><input type="checkbox" checked data-toggle="toggle" data-size="mini" data-onstyle="danger" data-style="ios" data-on=" " data-off=" "></div>
                                    <div></span><input type="checkbox" checked data-toggle="toggle" data-size="mini" data-onstyle="danger" data-style="ios" data-on=" " data-off=" "></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <button class="btn btn-danger center-block">Go to Step2</button>
                <p  style="text-align: center"><a href="#">Cancel</a></p>
            </div>
        </div>
    </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</body>
</html>